<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
            <!-- Basic App Information -->
               <key>CFBundleDevelopmentRegion</key>
               <string>en</string>
               <key>CFBundleDisplayName</key>
               <string>BCC Vehicle Management App</string>
               <key>CFBundleExecutable</key>
               <string>BCCVehicleManagementApp</string>
               <key>CFBundleIdentifier</key>
               <string>com.bcc.vehicle_log_management</string>
               <key>CFBundleInfoDictionaryVersion</key>
               <string>6.0</string>
               <key>CFBundleName</key>
               <string>BCC Vehicle Management App</string>
               <key>CFBundlePackageType</key>
               <string>APPL</string>
               <key>CFBundleShortVersionString</key>
               <string>1.0</string>
               <key>CFBundleSignature</key>
               <string>????</string>
               <key>CFBundleVersion</key>
               <string>1</string>
               <key>LSRequiresIPhoneOS</key>
               <true/>

            <!-- Launch Screen -->
               <key>UILaunchStoryboardName</key>
               <string>LaunchScreen</string>

            <!-- Main Storyboard -->
               <key>UIMainStoryboardFile</key>
               <string>Main</string>

            <!-- Supported Interface Orientations -->
               <key>UISupportedInterfaceOrientations</key>
               <array>
                   <string>UIInterfaceOrientationPortrait</string>
                   <string>UIInterfaceOrientationLandscapeLeft</string>
                   <string>UIInterfaceOrientationLandscapeRight</string>
               </array>
               <key>UISupportedInterfaceOrientations~ipad</key>
               <array>
                   <string>UIInterfaceOrientationPortrait</string>
                   <string>UIInterfaceOrientationPortraitUpsideDown</string>
                   <string>UIInterfaceOrientationLandscapeLeft</string>
                   <string>UIInterfaceOrientationLandscapeRight</string>
               </array>

            <!-- Additional Configurations -->
               <key>CADisableMinimumFrameDurationOnPhone</key>
               <true/>
               <key>UIApplicationSupportsIndirectInputEvents</key>
               <true/>

            <!-- Permissions -->
               <key>NSCameraUsageDescription</key>
               <string>We need access to your camera for scanning purposes.</string>
               <key>NSPhotoLibraryUsageDescription</key>
               <string>We need access to your photo library to upload photos.</string>
               <key>NSPhotoLibraryAddUsageDescription</key>
               <string>We need permission to save photos to your library.</string>
               <key>NSMicrophoneUsageDescription</key>
               <string>We need access to your microphone for video recording.</string>
               <key>NSAppTransportSecurity</key>
               <key>NSFileProviderUsageDescription</key>
               <string>We need access to your files to pick and use them within the app.</string>
               <dict>
                   <key>NSAllowsArbitraryLoads</key>
                   <true/>
               </dict>
  </dict>
</plist>